comment "Cortex-M4 Settings"
config ARCH_INCLUDE
	string 
	default "-Iarch/arm/cortex-m4 -Iarch/arm/include"
config ARCH_CFLAGS
	string
	default "-mcpu=cortex-m4 -mthumb -mfpu=fpv4-sp-d16 -mfloat-abi=hard"
config ARCH_AFLAGS
	string 
	default "-mcpu=cortex-m4 -mthumb -mfpu=fpv4-sp-d16 -mfloat-abi=hard"
config ARCH_LDFLAGS
	string
	default ""
config PORT_HAS_OPTIMISED_TASK_SELECTION
	bool
	default y
