menu "Architecture Settings"
choice
	prompt "Select Architecture"
	config ARCH_ARM
		bool "ARM"
		help
			ARM Based Architecture
	config ARCH_X86
		bool "X86"
		help
			X86 Based Architecture
endchoice
comment "Global Settings"
comment "Waring CPU Clock Hz not set!"
	depends on CPU_CLOCK_HZ=0
choice	
	prompt "Select CPU Clock Speed Source"
	config CPU_CLOCK_BY_DEFINE
		bool "CPU Clock Speed over Define"
		depends on !ARCH_X86
		help
			CPU Clock Speed is defined by Define s. CONFIG_CPU_CLOCK_HZ
	config CPU_CLOCK_BY_INTERFACE
		bool "CPU Clock Speed over Clock Interface"
		depends on !ARCH_X86
		help
			CPU Clock Speed is defined by Clock Interface over Function clock_getCPUSpeed
endchoice
config CPU_CLOCK_HZ
	int "CPU Clock Speed(Hz)"
	default 0
	depends on !ARCH_X86 && CPU_CLOCK_BY_DEFINE
	help
		CPU Clock Speed in Hz
comment "Architecture Settings"
if ARCH_ARM=y
source arch/arm/Kconfig
endif
if ARCH_X86=y
source arch/x86/Kconfig
endif
endmenu
