choice
	depends on ARCH_ARM
	prompt "Select Core Type"
	config ARCH_ARM_CORTEX_M0
		bool "ARM Cortex-M0"
		help
			ARM Cortex-M0
	config ARCH_ARM_CORTEX_M3
		bool "ARM Cortex-M3/M4"
		help
			ARM Cortex-M3/M4
	config ARCH_ARM_CORTEX_M4F
		bool "ARM Cortex-M4F"
		help
			ARM Cortex-M4F
endchoice
config ARCH_JUMP_ADDR_ODD
	bool
	depends on ARCH_ARM_CORTEX_M0 || ARCH_ARM_CORTEX_M3 || ARCH_ARM_CORTEX_M4F
	default y
config ARCH_ARM_FAULT_HANDLER
	bool
	depends on MACH_USE_GENERIC_FAULT_HANDLER
	depends on ARCH_ARM_CORTEX_M0=y || ARCH_ARM_CORTEX_M3=y || ARCH_ARM_CORTEX_M4F=y

	default y
config ARCH_ARM_PRINT_ERROR
	bool "Print error to Console"
	depends on ARCH_ARM_FAULT_HANDLER
	default n
config ARCH_SUPPORT_UNWIND_TABLES
	bool
	depends on NEWLIB
	default y
config ARCH_SUPPORT_CUSTOM_TASK_RETURN_ADDRESS
	bool
	default y
if ARCH_ARM_CORTEX_M0=y
source arch/arm/cortex-m0/Kconfig
endif
if ARCH_ARM_CORTEX_M3=y
source arch/arm/cortex-m3/Kconfig
endif
if ARCH_ARM_CORTEX_M4F=y
source arch/arm/cortex-m4f/Kconfig
endif
source arch/arm/debug/Kconfig
