# Slected by Mach
choice
	prompt "Select Mode"
	config ARCH_RISCV_MMODE
		bool "Machine-mode only"
	# No Port Available  
	config ARCH_RISCV_SMODE
		bool "Supervisor-mode / User-mode"
endchoice
if ARCH_RISCV_MMODE=y
source arch/riscv/mmode/Kconfig 
endif
if ARCH_RISCV_SMODE=y
source arch/riscv/smode/Kconfig 
endif

choice
	prompt "Memmory Model"
	config ARCH_RISCV_MEMMORY_MEDLOW
		bool "Medlow"
		depends on !ARCH_64BIT
		help
			GCC Docu:

			"Generate code for the medium-low code model. The program and its statically defined symbols must lie within a
			single 2 GiB address range and must lie between absolute addresses -2 GiB and +2 GiB. Programs can be statically
			or dynamically linked. This is the default code model."

	config ARCH_RISCV_MEMMORY_MEDANY
		bool "medany"
		help
			GCC Docu:

			"Generate code for the medium-any code model. The program and its statically defined symbols must be within any
			single 2 GiB address range. Programs can be statically or dynamically linked."
endchoice

if ARCH_RISCV_MEMMORY_MEDANY=y
config ARCH_CFLAGS
	string
	default "-mcmodel=medany"
config ARCH_AFLAGS
	string 
	default "-mcmodel=medany"
endif
if ARCH_RISCV_MEMMORY_MEDLOW=y
config ARCH_CFLAGS
	string
	default "-mcmodel=medlow"
config ARCH_AFLAGS
	string 
	default "-mcmodel=medlow"
endif

config ARCH_LDFLAGS
	string
	default ""

config EXTRA_ARCH_LINKFLAGS
	string
	default "-nostartfiles"

config ARCH_HAS_OPTIMISED_TASK_SELECTION
	bool
	default y

config ARCH_RISCV_PLIC
	bool
	depends on MACH_HAS_PLIC
	default y

config ARCH_RISCV_HAS_MTIME
	bool
	depends on MACH_HAS_MTIME
	depends on ARCH_RISCV_MMODE
	default y

config ARCH_RISCV_SEP_IRQ_STACK
	bool "Separated IRQ Stack"
	default n
	help
		Separated IRQ Stack if not defined Main Stack is used
	config ARCH_RISCV_ISR_STACK_SIZE_WORDS
		int "ISR STACK SIZE WORDS"
		depends on ARCH_RISCV_SEP_IRQ_STACK
		default 500
config ARCH_RISCV_HAS_CLINT
	bool
	default y
	depends on MACH_HAS_CLINT

config INCLUDE_ARCH_FREEROTS_CONFIG
	bool
	default y

config ARCH_RISCV_INIT
	bool
	default y
	depends on MACH_NEED_RISCV_INIT

config ARCH_RISCV_SYSINIT
	bool
	default y
	depends on MACH_NEED_GENERIC_SYSINIT

config ARCH_RISCV_HARDWARE_FLOAD
	bool
	default y
	depends on MACH_NEED_RISCV_HARDWARE_FLOAD

config ARCH_ID
	int "Primare HartID"
	default 0

config ARCH_BOOT_UNDER_UBOOT
	bool "Boot under UBooot"
	depends on ARCH_RISCV_SMODE
	default n
	help
		All CPU are Booted under U-Boot so wie must jump to secondary

config ARCH_SBI
	bool "SBI Interface"
	default y
	depends on ARCH_RISCV_SMODE
	config ARCH_SBI_TIMER
		bool "SBI Timer"
		default y
		depends on ARCH_SBI
	config ARCH_SBI_UART
		bool "SBI UART"
		default y
		depends on ARCH_SBI
		depends on UART
